.member {
  width: 1250px;
  height: 370px;
  background-color: #d9d3d3;
  margin-left: 0px;
  margin-top: 20px;
  display: flex;
}

.title {
  font-size: 28px;
  margin-left: 40px;
  padding-top: 30px;
  margin-top: 20px;
}

.alumni-description {
  margin-top: 30px;
}

.description {
  font-size: 18px;
  margin-left: 50px;
  margin-top: 20px;
}

.alumni {
  width: 20vw;
  height: 325px;
  background-color: #f1ddce;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-alumni {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
  height: auto;
  padding: 20px;
  background-color: #f1ddce;
  border-radius: 15px;
  margin-top: 35px;
}

.member-body {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.member-card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  padding: 20px;
  background-color: #f1ddce;
  border-radius: 15px;
  margin-top: 30px;
}

.description {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 12vw;
  height: auto;
  border-radius: 8px;
}

.lab-members {
  margin: 10vw;
  margin-top: 25px;
}

.all-alumni {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.alumni-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

.email {
  color: var(--dark-teal);
}

@media screen and (max-width: 1000px) {
  .photo {
    width: 20vw;
  }

  .single-alumni {
    width: 25vw;
  }
}
