.single-alumni {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 30vw;
  padding: 20px;
  background-color: var(--base-teal);
  border-radius: 30px;
}

.single-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  height: 20vw;
  padding: 40px;
  background-color: var(--beige);
  border-radius: 30px;
}

.description {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 15vw;
  height: auto;
}

.lab-members {
  margin: 10vw;
}
