.news {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    width: 90vw; 
    /* max-width: 2000px; */
    padding-left: 3%;
    margin: 0; 
}


.news .news-header{
    text-align: left !important;
    width: 100%; 
}

.App {
    display: flex; 
    align-items: flex-start; 
    justify-content: flex-start;
    /* width: 100%;  */
}

.articles-list {
    width: 90vw;
    display: flex;
    flex-direction: column; 
    max-width: 100%;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 0; 
}